.App {
  text-align: center;
}
body{
  padding: 0%;
  margin: auto;  
 height: auto;
  background-attachment: fixed;
  background-size: cover;

}
.cards{
  margin-left: 70px;
  width: 70%;
  margin-top: 40px;
  border-radius: 20px;
  border: 2px solid black;
  padding: 0px;
  padding-top: 50px;
  background: linear-gradient(
    100deg,
    rgb(168, 175, 196),
    rgb(45, 53, 47)
);
}
li{
  list-style-type: none;
  padding-left: 0px;
}
img{
  width: 50%;
}
.label{
  width: 100px;
  margin-left:0px;

}
.datagroup{
  font-size: 15px;
  display: flex;
}
.inputfield{
  border-radius: 5px;
}
.headingStu{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: cadetblue;
}
.mainHeading{
  color: rgb(33, 77, 115);
  margin: auto;
  background: linear-gradient(
    100deg,
    rgb(159, 160, 164),
    rgb(229, 234, 230)
);
height:70px;
}
.bt{
  border-radius: 10px;
  width:20%;
  height: 40px;
  font-size:20px;
}
input[type=radio] {
  width: 1em;
  height: 1em;
}
.Ecard{
  display: flex;
  border-radius: 20px;
  width: 70%;
  margin-top: 30px;
  background: linear-gradient(
    100deg,
    rgb(219, 224, 238),
    rgb(249, 249, 249)
);
margin-left: 70px;

}
.card{
 
}
.img{
  margin-left:60px ;
  width: 50%;
  margin-top: 10px;
}
.enrol{
 padding: 40px;
}