.App {
  text-align: center;
}
.App-header {
  min-height: 100vh;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  
  background-color: #282c34;
}
